 @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700,800');
/*=========================
  Login Register
 ================= */

.sc-login-logo {
	text-align:right;
}
.login-signup-mgn {
	margin-top:15px!important;
}
.login-signup-wrapper {
	background-color:#ffffff;
	padding:15px 30px 25px 30px;
	border-radius:5px;
}
.sc-login {
	position:relative;
}
.or-separator {
	text-align:center;
}
.or-separator::before {
 border-top: 1px solid #e1e1e1;
 content: " ";
 display: block;
 height: 0;
 position: absolute;
 top: 33.6%;
 width: 45%;
 z-index:9999;
}
 .or-separator::after {
 border-top: 1px solid #e1e1e1;
 content: " ";
 display: block;
 height: 0;
 position: absolute;
 right: 0;
 top: 33.6%;
 width: 45%;
 z-index:9999;
}
 .or-separator1::before {
top: 88.6%!important;
}
.or-separator1::after {
top: 88.6%!important;
}
 .clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .panel-body::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .modal-footer::after, .ui-tabs .ui-tabs-nav::after, .controller-member.action-profile .member-info-container::after {
clear:both
}
.gutter-bottom, .controller-checkout .payment-method-item p.gutter-bottom {
	margin-bottom: 15px;
}
.gutter-top {
	margin-top: 15px;
}
.login-ttl {
	color: #333333;
	font-size: 28px;
	font-weight: 300;
	margin: 15px 0 0;
}
.sc-login .form-control {
	height:42px;
}
.sc-login .sc_socialButtons a {
	color: #ffffff;
}
.sc-login .sc_socialButtons a:hover {
	color: #ffffff;
}
.sc-login .sc_socialButtons .sc_btn-facebook {
	background: #3b5998;
	border-radius:4px;
	font-size:14px;
	border:1px solid #3b5998;
}


.login-signup-wrapper .input-group {
	margin-bottom:15px;

}

.login-signup-form input {
	height:38px;
	border-radius:0;
}
.login-signup-form .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
border-radius:0;
}
.login-signup-form .help-block {
	color:red;
}
.login-signup-form .btn-lg, .btn-group-lg > .btn {
	border-radius:0;
}
.login-signup-form .btn-primary {
	background-color:#3d9fe2;
	border:0;
	border-radius:4px;
}
.login-signup-form .btn-primary:hover {
	background-color:#55aa1f;
}
.sc_forgotPwd {
}
.login-signup-form .remember-me {
	line-height:10px;
}
.login-signup-form .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	margin-left:0;
	margin-top:-7px;
}


.app-form{
align:right;
}
.login-row{
	padding-bottom:20px;
}
.login-row-input-button{
  border-radius: 10px;
}
.page-body-block{
  min-height:500px;
  margin-top:20px;
  margin-bottom:30px;
}
.appt-date{
padding-top:10px;
text-align: center;
}
.change-date-time{
  text-align: center;
}
.appt-time{
  margin-top: 10px;
text-align: center;
}
.date-time-row{
border-top: 2px solid green;
margin-top:50px;
}
.app-logo{
  position: absolute;
  right:0;

}
.appt-text2{
  text-align: left;
}


/*=========================
login confirmed page
 ================= */
.confirmed-login{
  margin-top: 70px;
  padding-left: 20px;
}
.confirmed-login-box{
  padding-top: 5px;
}
.confirmed-image-text{
text-align: left;
}
.date-time-row2{
border-top: 2px solid green;
margin-top:80px;
}


/*=========================
  login cancel
 ================= */
 .login-cancel-main{
  background-color:	#FFFFF;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
 }
 .login-upcoming{
 	border-top: 1px solid black;
 	border-right: 1px solid black;
 	border-left: 1px solid black;
 	font-size: 17px;
	border-radius: 5px 5px 0px 0px;
	padding: 10px;
 }
 .login-upcoming-col{
	 padding-top: 0px;
 }

 .login-cancel-row1{
   border-bottom: 1px solid gray;
   text-align: center;
   padding: 15px;
   font-size: 17px;
	 font-family: 'Open Sans', sans-serif;
 }

 .login-cancel-row2{
   border-bottom: 1px solid gray;
   padding: 15px;
   font-size: 17px;
   border-right: 1px solid gray;
	font-family: 'Open Sans', sans-serif;
 }
 .login-cancel-row21{
  border-bottom: 1px solid gray;
	border-top: 1px solid gray;
  padding: 15px;
  font-size: 17px;
  border-right: 1px solid gray;
	font-family: 'Open Sans', sans-serif;

 }
 .login-cancel-row3{
   padding-top: 40px;
   font-size: 17px;
  border-right: 1px solid gray;
	font-family: 'Open Sans', sans-serif;
 }
 .cancel-book-again{
  text-align: center;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;

 }
 .login-cancel-image{
	 padding-top: 10px;
 }
 .login-cancel-footer{
	  padding-top: 40px;
 }
 #footer {
     width: 100%;
     padding: 0 0 42px 0;
     border-top: 1px solid #e8e8e8;
 }
