
 @media (min-width:768px) and (max-width:1200px) {

.confirmed-image-text{
text-align: center;
}
.login-cancel-row2{
  text-align:center;
}

}
 @media (min-width:736px){

.appt-text2{
  text-align: center;
}
.confirmed-image-text{
text-align: center;
}
.login-cancel-row2{
  border-bottom: 2px solid gray;
  padding: 10px;
  font-size: 17px;
  border-right: 2px solid gray;
  text-align:left;
}

.login-cancel-row3{
  padding: 10px;
  font-size: 19px;
 border-right: 2px solid gray;
 text-align: center;
}
.cancel-book-again{
  text-align: center;
}
/*----reschedule page----*/

.re-row2{
  font-size: 25px;
  padding: 10px;
  text-align: center;
}
.re-row3{
  font-size: 30px;
  border: 1px solid gray;
  padding: 10px;
  background-color: #EFEFEF;
  text-align: center;
}
.re-row4{
  font-size: 17px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
  font-weight: bold;
  background-color: #EFEFEF;
  text-align: center;
}
.re-row5{
  font-size: 15px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #EFEFEF;
  padding: 5px;
  text-align: center;
}
.re-row5 span{
  padding: 4px 6px 4px 2px;
  margin-top: 5px;
}
.my-pro-row-col2{
  padding: 5px 0px 0px 0px;
  font-size: 17px;
}
.my-pro-row-col2 i{
  padding: 0px 0px 0px 10px;
  font-size: 30px;
  color: #4FB8FF;
}
.top-menu .p-top-info-btn {
 float:right;
 position: relative;
 width:37px;
 text-align:right;
}

}
 @media (min-width:470px) and (max-width:750px) {
   .login-cancel-row2{
     text-align:center;
   }
   .top-menu .p-top-info-btn {
    float:right;
    position: relative;
    width:37px;
    text-align:right;
   }
 }

 @media (max-width:480px){

.confirmed-image-text{
  text-align: center;
}
.login-cancel-row2{
  border-bottom: 2px solid gray;
  padding: 10px;
  font-size: 19px;
  border-right: 2px solid gray;
  text-align: center;
}
.login-cancel-row3{
  padding: 10px;
  font-size: 19px;
  border-right: 2px solid gray;
  text-align: center;
}
.cancel-book-again{
  text-align: center;
}
.current-upcomings{
  border-top:1px solid gray;
  border-left:1px solid gray;
  border-right:1px solid gray;
  padding-left: 36px;
  padding-right: 34px;
  font-size: 18px;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  left: 10px;
  margin-left: 0px;
}
.my-appoints{
  border-top:1px solid gray;
  border-right:1px solid gray;
  border-left:1px solid gray;
  font-size: 18px;
  padding-left: 5px;
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  left: 10px;
}
/*----reschedule page----*/

.re-row2{
  font-size: 25px;
  padding: 10px;
  text-align: center;
}
.re-row3{
  font-size: 30px;
  border: 1px solid gray;
  padding: 10px;
  background-color: #EFEFEF;
  text-align: center;
  text-align: center;
}
.re-row4{
  font-size: 17px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
  font-weight: bold;
  background-color: #EFEFEF;
  text-align: center;
}
.re-row5{
  font-size: 15px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #EFEFEF;
  padding: 5px;
  text-align: center;
}
.re-row5 span{
  padding: 4px 6px 4px 2px;
}
/*-----My Profile--------*/
.my-pro-row-col2{
  padding: 5px 0px 5px 0px;
  font-size: 17px;
}
.my-pro-row1{
  font-size: 30px;
  text-align: center;
}
.my-pro-row1 .edit-profile-btn {
    margin-right: 40px;
    padding: 10px 30px 10px 30px;
}
.p-save-contain-row{
 background-color:#fff;
 padding: 10px 0px 0px 0px;
 margin-left: 0px;
 text-align: center;
}
#topbar .btn-default1-p {
 padding:5px 15px;
 margin-top: 0px;
 background-color:#3d9fe2;
 color:#ffffff;
}
.top-menu .p-top-info-btn {
 float:right;
 position: absolute;
 top: 20;
 width:37px;
 text-align:right;
}
}


@media (max-width:360px) {

.confirmed-image-text{
text-align: center;
}
.re-row5 span{
  padding: 4px 3px 4px 2px;
}
.re-row5 a span:hover{
  color:black;
  padding: 1px;
  border-radius: 1px;
  border: 1px solid green;

}
.my-pro-row-col2{
  padding: 15px 0px 5px 10px;
  font-size: 17px;
}
#topbar .btn-default1-p {
 padding:5px 15px;
 margin-top: 10px;
 background-color:#3d9fe2;
 color:#ffffff;
}
.top-menu .p-top-info-btn {
 float:right;
 position: absolute;
 top: 20;
 width:37px;
 text-align:right;
}

}

 @media (max-width:320px) {
 .top-menu .top-info-btn {
float:none;
}
.re-row5 span{
  padding: 4px 6px 4px 2px;
  margin-top: 15px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  box-shadow:1px 1px 1px 0px gray;
  opacity:0.8;
}

}
